* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: .9px;
}

body {
    background-color: rgb(29, 29, 29);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.burger {
    display: none;
}

.side-navbar {
    display: none;
}

.end {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
    padding: .6rem 1rem;
    font-weight: 600;
}

.dot {
    width: 1rem;
    height: 1rem;
    background: #f10d0d;
    border-radius: 999rem;
}

:root {
    --main-clr: rgb(7 211 51);
    --text-clr: rgb(6, 230, 55);
}


/* navnar */

.navbar {
    height: 5.3rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2.4rem;
    align-items: center;
    background-color: black;
}

.navbar .list-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.1rem;
}

.navbar li {
    list-style: none;
}

.list-items a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--text-clr);
}

.btn {
    padding: 10px 17px;
    border: none;
    color: white;
    background-color: var(--main-clr);
    font-size: 1.2rem;
    border-radius: 3px;
    cursor: pointer;
}


/* main */

.container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5rem;
}

.main-section {
    width: 65vw;
    height: 63vh;
    max-height: 63vh;
    background-color: var(--main-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
}

.textarea-container {
    width: 98%;
    height: 89%;
    background-color: black;
}

.textarea-container textarea {
    width: 100%;
    height: 86%;
    background-color: black;
    color: var(--text-clr);
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    padding: 1rem;
    border: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-container button {
    padding: 11px 29px;
    font-size: 1.2rem;
    background-color: var(--main-clr);
    color: white;
    border: none;
    border-radius: 4px;
    position: relative;
    bottom: 1rem;
}


/* result-container */

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 65%;
}

.ant {
    width: 100%;
    height: 100%;
    background-color: var(--main-clr);
    padding: 0rem 0.7rem 1rem 0.7rem;
    border-radius: 4px;
}

.result {
    background-color: black;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    max-height: 7rem;
    overflow: hidden;
}

.result p {
    max-height: 6.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
}